:root {
  --hgreen: #859c70;
  --dkgreen: #174117;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Garamond, "Times New Roman", Times, serif;
}

/* Header formatting */
header {
  height: 220px;
  background-color: var(--hgreen);
}

h1 {
  margin: 60px 0 0 0;
  font-size: 100px;
  color: var(--dkgreen);
  font-family: Rancho, sans-serif;
}

#profile-image {
  height: 130px;
  border-radius: 50px;
  border: solid blanchedalmond 5px;
  margin: 60px 20px 0 0;
}

.title {
  display: flex;
  justify-content: center;
}

/* Nav bar formatting */
nav ul {
  display: flex;
  position: fixed;
  right: 0;
  list-style: none;
  background-color: var(--hgreen);
  padding: 0 20px 0 100%;
  z-index: 1;
}

nav li {
  margin: 10px;
  font-size: 24px;
  font-family: Oswald, sans-serif;
  color: blanchedalmond;
}

a {
  text-decoration: none;
}

nav a {
  color: blanchedalmond;
}

/* Main body formatting */
main {
  margin: 0 40px 10px 40px;
}

h2 {
  text-align: center;
  font-size: 60px;
  margin: 15px 0;
  font-family: Oswald, sans-serif;
}

/* About section formatting */
article p {
  text-indent: 25px;
  font-size: 20px;
}

article,
section {
  border-bottom: solid #174117;
  padding: 10px;
}

/* Work section formatting */
h3 {
  text-align: center;
  font-size: 30px;
}

#work {
  font-size: 20px;
}

#current {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 25px 0;
}

#current figure {
  margin: 10px;
  background-color: blanchedalmond;
  border-radius: 50px;
  padding: 7px;
}

#current img {
  height: 210px;
}

/* Break between flex items */
.break {
  width: 100%;
  height: 10px;
}

#current p {
  padding: 0 0 5px 0;
  font-size: 9px;
}

#past {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* First image in past work needs to be larger per acceptance criteria */
#past figure:first-of-type img {
  height: 400px;
}

#past img {
  height: 300px;
  z-index: -1;
  opacity: 0.5;
}

#past img:hover {
  opacity: 1;
}

#past figure {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  background-color: var(--hgreen);
  border-radius: 50px;
  overflow: hidden;
  border: solid 5px var(--hgreen);
}

#past figcaption {
  position: absolute;
  bottom: 25%;
  padding: 5px;
  background-color: blanchedalmond;
}
/* Contact section formatting */
#contact ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
}

#contact li {
  padding: 10px;
  width: 250px;
  background-color: blanchedalmond;
  border-radius: 15px;
  margin: 5px;
  font-size: 20px;
}

#contact a {
  color: var(--dkgreen);
}

/* Contact info headers */
.cheader {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

/* Footer formatting */
footer {
  text-align: center;
  background-color: var(--dkgreen);
  height: 50px;
}

footer p {
  padding: 15px 0 0 0;
  color: blanchedalmond;
}

/* Media query - small screen width */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 70px;
    margin: 80px 0 0 0;
  }
  nav li {
    font-size: 20px;
    margin: 5px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  #current img {
    height: 150px;
  }
  article p {
    font-size: 16px;
  }
  #current p {
    font-size: 7px;
  }
}

@media only screen and (max-width: 445.5px) {
  h1 {
    font-size: 50px;
    margin: 90px 0 0 0;
  }
}

@media only screen and (max-width: 352px) {
  h1 {
    margin: 65px 0 0 0;
  }
}
